.App {
  background-image: url('./images/background-cement.jpg');
  background-size: cover;
  background: rgb(240, 240, 240);
  min-height: 800px;
  font-family: 'Karla', sans-serif;
  margin: 1px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Karla', sans-serif !important;
}

div {
  font-family: 'Karla', sans-serif !important;
}

body {
  font-family: 'Karla', sans-serif !important;
}
.grid-container {
  display: flex;
}

.mapItem {
  flex-grow: 1;
}

.ui.vertical.menu {
  width: auto;
}

.sign-up-form {
  width: 500px;
  padding-top: 80px;
  text-align: center;
}

.sign-up-form h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.user-image {
  border-radius: 6px;
  width: 50%;
  margin: 5px;
}

.navlink {
  font-size: 1.2em;
  color: grey;
}

.navlink:hover {
  font-weight:bold;
  cursor: pointer;
}

.notifications {
  height: 200px;
  width: 500px;
  background-color: white;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.notifications-content {
  overflow: scroll;
  background-color: white;
}

.map {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  padding: 3px;
  margin: auto;
}

.user-div {
  display: grid;
  grid-template-columns: 25% 100px 100px 100px 1fr;
}

.user-item {
  margin: auto;
  grid-column-start: 1;
  text-align: center;
}

.user-saves {
  grid-column-start: 2;
  text-align: center;
  padding-top: 80px;
}

.ui.tiny.button {
  border: 2px solid;
}

.ui.borderless.top.attached.menu {
  border: 4px solid black
}

.user-favorites {
  grid-column-start: 3;
  text-align: center;
  padding-top: 80px;
}

.user-friends {
  grid-column-start: 4;
  text-align: center;
  padding-top: 80px;
}

.side-panel-item {
  width: 450px;
  height: 800px;
  overflow: scroll;
}

.option-image {
  height: 100%;
  padding: 2px;
  grid-column-start: 2;
  margin-right: 3px;
}

.option-description {
  grid-column-start: 1;
  padding-left: 10px;
}

.option-card {
  display: grid;
  grid-template-columns: 70% 30%;
  border-style-bottom: solid;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.request-box {
  width: 80%;
  margin: auto;
  border: 1px solid lightgrey;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.user-card {
  border: 1px solid lightgrey;
  height: auto;
  width: 200px;
  flex-basis: auto;
  margin: 5px;
  border-radius: 4px;
  padding: 5px;
}

.user-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.user-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.spot-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.spot-card {
  border: 1px solid lightgrey;
  background-color: white;
  margin: auto;
  height: auto;
  width: 130px;
  flex-basis: auto;
  margin: 2px;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

.spot-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.spot-page-header {
  padding: 10px;
  margin-top: 3px;
  border-bottom: 1px solid grey;
  margin: 5px;
}

.page-icon {
  height: 30px;
  width: 30px;
}

.page-icon:hover {
  cursor: pointer;
}

.spot-page-subheader {
  display: flex;
  justify-content: space-around;
}

.spot-page-subheader-item {
  flex-basis: auto;
}

.spot-page-comments-header {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.spot-page-comments {
  margin: 30px;
}

.comment-card {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 5px;
}

.comment-card-image {
  grid-column-start: 1;
  width: 60px;
  border-radius: 4px;
}

.comment-card-text {
  grid-column-start: 2;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 3px;
}

.spot-page-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.spot-page-list {
  flex-basis: auto;
}

.ui.secondary.pointing.menu .item.padded {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.2em;
}

.ui.secondary.pointing.menu {
  margin-bottom: 20px;
}

.ui.blue.fluid.card {
  padding: 1em;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.side-panel-subheader {
  padding: 10px;
  border: 4px solid black;
  margin-bottom: 10px;
  background-color: white;
}

.ui.button {
  border: 2px solid;
}

.ui.teal.button {
  border: 2px solid rgb(88, 88, 89);
}

.white-background-div {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  padding-bottom: 5px;
}

#background-video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}
